.modal {
    height: 1100px;
    width: auto;
    padding: 5px;
    background: #2b5876;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4e4376, #2b5876);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4e4376, #2b5876);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.modalImage {
    width: 1000px;
    height: 450px;
}

.imageModalTitle {
    text-align: center;
    letter-spacing: 2px;
    text-shadow: 2px 2px 6px #000;
}

.imageModalLocation {
    margin-top: -18px;
}

.modalContent {
    box-shadow: 5px 10px 18px rgb(24, 24, 24);
}

.mapModalHeader {
    box-shadow: 5px 10px 18px rgb(24, 24, 24);
    background-color: rgb(33, 36, 28);
    padding: 5px;
}

.mapModalHeader h2 {
    font-size: 30px;
}

.mapModalHeader h3 {
    font-size: 25px;
}

#dialogContent_0 {
    padding: 25px;
    width: 1200px;
}

.modalEditBtn {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    position: relative;
    left: 392px;
}