<div ng-include="'views/partials/user.header.html'"></div>
<div class="container-fluid">
    <div class="well">
        <div class="row">
            <h1>Weekly Timecard</h1>
        </div>
        <div class="row">
            <h3>Minnesota Board of Public Defense</h3>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="row">5445 Boone Avenue North</div>
                <div class="row">#101</div>
                <div class="row">New Hope, MN 55428</div>
            </div>
            <div class="col-8">
                <div class="row">
                    Employee name: {{ vm.userObject.first_name }}
                    {{ vm.userObject.last_name }}
                </div>
                <div class="row">Manager name: Kathy Hoyle</div>
                <div class="row">
                    Week starting:<span><input class="inputText" type="date"
                            ng-model="vm.newItem.week_start_date" /></span>
                </div>
            </div>
        </div>
    </div>
    <form>
        <div class="form-row timecardComponents">
            <div class="col-3">
                <label>Day of Week</label>
                <input ng-model="vm.newItem.day_of_week" type="date" class="form-control" style="
                        font-size: 30px;
                    " />
            </div>
            <div class="col-3">
                <label>Time In</label>
                <input ng-model="vm.newItem.time_in" type="time" class="form-control" style="
                font-size: 30px;
            " />
            </div>
            <div class="col-3">
                <label>Breaks</label>
                <div class="input-group mb-3">
                    <select class="custom-select" id="inputGroupSelect01" ng-model="vm.newItem.break_time"
                        style="font-size: 30px;height: 61px;">
                        <option selected>Choose...</option>
                        <option value="15">15</option>
                        <option value="30">30</option>
                        <option value="45">45</option>
                        <option value="60">60</option>
                    </select>
                </div>
            </div>
            <div class="col-3">
                <label>Time Out</label>
                <input ng-model="vm.newItem.time_out" type="time" class="form-control" style="
                font-size: 30px;
            " />
            </div>
            <div class="col-3 timeInputButton">
                <button type="button" class="btn btn-outline-primary btn-block" ng-click="vm.addItem(vm.newItem)"
                    style="text-align: center; font-size: 25px; font-weight: bold;">
                    Submit
                </button>
            </div>
        </div>
        <div class="col-3 weekSelectContainer">
            <label class="weekSelectLabel">View Week</label>
            <div class="input-group mb-3">
                <select class="weekSelectDropdown" ng-model="vm.startDate" ng-change="vm.getStartDate(vm.startDate)">
                    <option>--Choose Week to View--</option>
                    <option ng-repeat="option in vm.weekStart.list" value="{{option.week_start_date}}">
                        {{option.week_start_date | date: "MM-dd-yyyy"}}</option>
                </select>
            </div>
        </div>
    </form>
    <div class="well well-lg" ng-model="vm.selectedData" ng-show="vm.getStartDate">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>Week Starting</th>
                        <th>Date</th>
                        <th>Time in</th>
                        <th>Breaks(minutes)</th>
                        <th>Time out</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody ng-repeat="select in vm.getSelectWeek.list track by $index">
                    <tr>
                        <td>{{ select.week_start_date | date: "MM-dd-yyyy" }}</td>
                        <td>{{ select.day_of_week | date: "MM-dd-yyyy" }}</td>
                        <td>{{ select.time_in | date: "h:mma" }}</td>
                        <td>{{ select.break_time }}</td>
                        <td>{{ select.time_out | date: "h:mma" }}</td>
                        <td>
                            <button class="tableEditBtn" ng-click="vm.editTimeEntry(select.timecard_id)">Edit</button>
                        </td>
                        <td>
                            <button class="tableDeleteBtn" ng-click="vm.deleteItem(select.timecard_id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>